DATABASE_PROVIDER=sqlserver
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
POSTGRES_SSLMODE=prefer

SQLSERVER_HOST=localhost\SQLEXPRESS
SQLSERVER_DATABASE=MiBaseDeDatos
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_TRUSTED=true
SQLSERVER_USER=
SQLSERVER_PASSWORD=
SQLSERVER_TRUST_CERTIFICATE=true

