SQLSERVER_HOST=localhost\SQLEXPRESS
SQLSERVER_DATABASE=MiBaseDeDatos
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_TRUSTED=true
SQLSERVER_USER=
SQLSERVER_PASSWORD=
SQLSERVER_TRUST_CERTIFICATE=true

